<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
    <form action="#" class="container" method="GET">
    
        <div class="contador">
            <h1>Contador</h1>
        </div>

        <div class="data">
            <span>Informe uma data</span>
            <input type="text" id="time" placeholder="MM/DD/AAAA"> 
            <div class="error">
                <i class="fas fa-arrow-left"></i>
                <span>Dados inválidos!</span>
            </div>
        </div>

        <button type="submit" onclick="troca()">Iniciar contagem</button>
        
        </div>
    </form>

    <script src="scripts/change.js"></script>
</body>
</html>